
.scroll-container {
  position: relative;
  .scroll-container-content {
    overflow: auto;
    width: 100%;
    height: 100%;
    &::-webkit-scrollbar {
        display: none;
    }
  }
  .scroll-thumb {
    position: absolute;
    cursor: pointer;
    background: var(--scroll-thumb-background, #000);
    border: var(--scroll-thumb-border);
    opacity: var(--scroll-thumb-opacity, 1);
    transition-duration: 0.2s;
    border-radius: var(--scroll-thumb-radius, 999px);
    display: none;
    &.show {
      display: block;
    }

    &.scroll-thumb-x {
      left: 0;
      bottom: var(--scroll-thumb-gap, 4px);
      height: var(--scroll-thumb-size, 4px);
      transition-property: height, background, bottom;
      &.active,
      &:hover {
        bottom: var(--scroll-thumb-hover-gap, var(--scroll-thumb-gap, 4px));
        background: var(--scroll-thumb-hover-background, var(--scroll-thumb-background, #000));
        border: var(--scroll-thumb-hover-border, var(--scroll-thumb-border));
        opacity: var(--scroll-thumb-hover-opacity, var(--scroll-thumb-opacity, 1));
        border-radius: var(--scroll-thumb-hover-radius, var(--scroll-thumb-radius, 999px));
        height: var(--scroll-thumb-hover-size, var(--scroll-thumb-size, 4px));
      }
    }
    &.scroll-thumb-y {
      top: 0;
      right: var(--scroll-thumb-gap, 4px);
      width: var(--scroll-thumb-size, 4px);
      transition-property: width, background, right;
      &.active,
      &:hover {
        right: var(--scroll-thumb-hover-gap, var(--scroll-thumb-gap, 4px));
        background: var(--scroll-thumb-hover-background, var(--scroll-thumb-background, #000));
        border: var(--scroll-thumb-hover-border, var(--scroll-thumb-border));
        opacity: var(--scroll-thumb-hover-opacity, var(--scroll-thumb-opacity, 1));
        border-radius: var(--scroll-thumb-hover-radius, var(--scroll-thumb-radius, 999px));
        width: var(--scroll-thumb-hover-size, var(--scroll-thumb-size, 4px));
      }
    }
  }
}