.highlight-textarea {
    position: relative;

  > :where(.highlight-textarea-box),
  > :where(.highlight-textarea-textarea) {
    all: unset;
    display: block;
    word-break: break-all;
    font-size: 14px;
    line-height: 22px;
    box-sizing: border-box;
    overflow: hidden;
  }

  > :where(.highlight-textarea-textarea) {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    /* 隐藏文字 */
    -webkit-text-fill-color: transparent;
    z-index: 999;
    pointer-events: none;
  }

  > :where(.highlight-textarea-box) {
    position: static;
    white-space: pre-wrap;
  }
}

.highlight-textarea-container {
  cursor: text;
  overflow: auto;
}