@property --skeleton-height {
  syntax: '<length>';
  inherits: false;
  initial-value: 64px;
}

@property --skeleton-width {
  syntax: '<length>';
  inherits: false;
  initial-value: 64px;
}

@property --skeleton-radius {
  syntax: '<length>';
  inherits: false;
  initial-value: 4px;
}

.skeleton {
  width: var(--skeleton-width);
  height: var(--skeleton-height);
  border-radius: var(--skeleton-radius);
  overflow: hidden; /* 防止渐变超出元素边界 */
  background-color: #f5f5f5;
}
