.auto-ratio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  .auto-ratio-box {
    width: max-content;
  }
}
